@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:ital@1&family=Cormorant+Garamond:wght@300&family=Merriweather:ital,wght@1,300&family=Oxygen&family=Roboto+Condensed&family=Shadows+Into+Light&display=swap');
/*PROYECTO FINAL - THE BAKERY/*PROYECTO FINAL - THE BAKERY
BORDO: A93226
NUDE: BB9457
MARRON OSCURO: 432818
MARRON CLARO: 99582A
CREMA: FFE6A7    

FUENTES:
font-family: 'Merriweather', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Amatic SC', cursive;



*/

/*INDEX*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 1fr;
    height: 100vh;
}

.navbar > .container-fluid{
    align-items: flex-end;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    position: absolute;
    width: 1349px;
}

.navbar-toggler{
    align-self: center;
}

.header_contenedorImg{
    display: flex;
    height: 120px;
    width: 120px;
    flex-wrap: wrap;
    margin: 0%;
    align-items: center;
    object-fit: fill;
    justify-content: center;
    padding: 28px 0px 0px 10px;
}

.header_contenedorImg img{
    width: 77%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.nav-link-footer{
    color: white;
    text-decoration: none;
}

.nav-link-footer:focus, .nav-link-footer:hover {
    color: white;
    text-decoration: underline;
}


.header-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 1rem;

}

.header_item{
    margin: 0px 10px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

header_item:hover, .header_item:active{
    text-decoration: underline;
}

.separadorHeader{
    background-color: #ffffff;
    border: none;
    margin: 2px;
}

.main{
    background-color: #F5F5DC;
    display: grid;
    grid-template-rows: 650px 270px;
}

.hero{
    height: 650px;
    background-image: url(../img/inicio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-contenedor{
    padding-top: 230px;
}

p{
    margin-bottom: 0rem;
}

.button{
    padding: 13px 15px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    width: 200px;
    margin-top: 13px;
    color: white;
    background-color: #A93226;
    transition: background-color .5s;
 
}

button:hover {
    background-color: #EC7063;
  }

.separador{
    background-color: white;
    border: none;
    margin: 8px;
}

.a-banner{
    text-decoration: none;
}

.contenedor-banner{
    display: flex;
    height: 250px;
    flex-direction: column;
    background-image: url(../img/fondotitle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:alpha;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Amatic SC', cursive;
}

.banner{
    color: black;
    opacity: 0.85;
    font-size: 4rem;
    margin: 5px;
}

.banner1{
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 0.8;
    font-size: 1.3rem;
    color: black;
}

.complementoMain{
    height: 2550px;
    display: grid;
    grid-template-rows: 1fr 1fr 0,75fr 0,75fr 0,75fr;
    padding-left: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    padding-right: 80px;
}

.complementoMain-contenedorNosotros{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.complementoMain-contenedor{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.complementoMain-contenedor--dist{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 400px;
}

.contenedorImagen{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    height: 430px;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    
}

.contenedorImagen img{
    height: 80%;
    transition: height 1s;
}

.contenedorImagen img:hover {
    height: 86%;
}


.contenedorImagen--tartas{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    height: 420px;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.contenedorImagen--tartas img{
    height: 60%;
    transition: height 1s; 
}

.contenedorImagen--tartas img:hover {
    height: 65%;
  }

.complementoRight{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    height: 410px;
    padding-left: 40px;

}

.complementoLeft{
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.complementoMain-contenedorEventos{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-bottom: 40px;
}

.contenedorImagen-eventos{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    height: 420px;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}

.contenedorImagen-eventos img{
    height: 80%;
    transition: height 1s; 
}

.contenedorImagen-eventos img:hover {
    height: 85%;
  }

/*FOOTER*/

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    place-items: center;
    background-color: #A93226;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 12px;
}

.contenedorFooter-logo{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    
}

.contenedorFooter{
    display: flex;
    flex-direction: column;
    padding-right: 80px
}

.contenedorFooter Img{
    width: 120px;
    display: flex;
    flex-direction: column;
}

.contenedorFooter-contacto{
    display: flex;
    flex-direction: column;
    padding-right: 80px
}

.contenedorFooter-redes{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-right: 80px 
}

.contenedorFooter-redes img {
    width: 30px;
    margin: 5px;
}

.navegacion{
    display: flex;
    flex-direction: column; 
    
}

/*CONTACTO*/

.bodyContacto{
    display: grid;
    height: 1480px;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: #F5F5DC;
    font-family: 'Roboto Condensed', sans-serif;
}

.mainContacto{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.mainSection1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divInfo{
    padding: 20px;
    width: 565px;
}

.divInfo img{
    width: 30px;
    margin: 5px;
}

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rowFormulario{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.input{
    width: 450px;
}

.inputMensaje{
    height: 100px;
}

.inputSubmit{
    width: 450px;
    margin: 5px
}

.mainSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorVisitanos{
    padding: 15px;
}

.contenedorMapa{
    padding: 8px;
}

/*FAQS*/

/*EVENTOS*/

.body--eventos{
    display: grid;
    height: 1170px;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: #F5F5DC;
    font-family: 'Roboto Condensed', sans-serif;
}

.mainEventos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
}

.mesaDulce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mesaDulce img{
    width: 75%;
    margin: 25px;
}

.infoEventos{
    margin: 15px;
}

.contenedorDeParrafo--eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    flex-wrap: wrap;
    font-size: 16px;
    color: black;
}

.button--eventos{
    padding: 5px;
    border: none;
    font-size: 16px;
    width: 70px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    background-color: #A93226;
    transition: background-color .5s;
}

button:hover {
    background-color: #EC7063;
  }

/*NOSOTROS*/

.body--nosotros{
    display: grid;
    height: 1800px;
    grid-template-rows: 1fr 2fr 1fr;
    font-family: 'Roboto Condensed', sans-serif;
}

.mainNosotros{
    display: grid;
    grid-template-rows: 0.65fr 0.7fr 0.7fr;
    background-color: #F5F5DC;
}

.contenedor-tittle{
    display: flex;
    background-image: url(../img/donas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 120px;
}

.tittle-nosotros{
    font-size: 50px;
    margin: 5px;
    font-family: 'Amatic SC', cursive;
}

.subtittle-nosotros{
    font-size: 20px;
}

.nosotros{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    place-items: center;
    margin: 30px;
}

.contenedorDeImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 50%;
    margin-top: 30px;
    margin-left: 48px;

}

.contenedorDeParrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    flex-wrap: wrap;
    font-size: 18px;
    width: 600px;
    color: black;
    padding: 20px;
}

/*TIENDA ONLINE*/

.imagenes-tienda{
    width: 400px;
}
.imagenes-tienda img{
    width: 100%;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1200px){

    .complementoMain{
        height: 2100px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .contenedorImagen img{
        height: 60%;
    }

    .contenedorImagen img:hover {
        height: 67%;
    }

    .contenedorImagen--tartas img{
        height: 45%;
    }

    .contenedorImagen--tartas img:hover {
        height: 52%;
      }    

    .contenedorImagen-eventos img{
        height: 60%;
    }

    .contenedorImagen-eventos img:hover {
        height: 65%;
      }

    
    .complementoMain-contenedorNosotros{
        padding-top: 20px;
    }

    .complementoMain-contenedorEventos{
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding-bottom: 10px;
    }
    
    .contenedorDeImagen img{
        width: 55%;
    }
    
    .contenedorDeParrafo{
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        flex-wrap: wrap;
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
        width: 400px;
        color: black;
        padding-right: 80px;
    }

    .footer{
        height: 180px;
        font-size: 13px;
    }

    .contenedorFooter-mapa img{
        width: 200px;
        margin-right: 40px;

    }

    
}
